@model UvA.Nose.AzureMigratie.Poc.Models.ViewModel.Student
@{
    ViewBag.Title = "Create";
}
<div class="form-horizontal">
    <h4>Student</h4>
    <hr>
    <div class="form-group">
        <label class="control-label col-md-2" for="LastName">LastName</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="LastName" name="LastName" type="text" value="" data-bind="value: LastName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="FirstMidName">FirstMidName</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="FirstMidName" name="FirstMidName" type="text" value="" data-bind="value: FirstMidName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="EnrollmentDate">EnrollmentDate</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="EnrollmentDate" name="EnrollmentDate" type="text" value="" data-bind="value: EnrollmentDate">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" data-bind="click: createStudent" value="Create" class="btn btn-default">
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Read")
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/knockout-3.5.1.js"></script>
<script src="~/Scripts/StudentScripts/Create.js"></script>